body {
	background-color: #DCDCDC;
}
.content1{
	margin-left: 300px;
	padding-bottom: 50px;
	width: 550px;
	background-color: white;	
}
h1 {
	margin: 10px 20px 0 110px;
}
img {
	margin: 5px 20px 0 230px;
}
p {
	margin: 5px 20px 0 80px;
	font-size: 1.2em;
	line-height: 1.5em;
}

hr {
	width: 430px;
	margin-top:14px;
	margin-bottom:24px;
	margin-left: 65px;
}
ul {
	margin: 5px 20px 0 65px;
}