body {
	background-color: #DCDCDC;
}
.content1{
	margin-left: 300px;
	padding-bottom: 50px;
	width: 700px;
	background-color: white;	
}
h1 {
	margin: 10px 20px 0 150px;
}
img {
	margin: 5px 20px 0 280px;
}
p {
	margin: 5px 20px 0 170px;
	font-size: 1.2em;
	line-height: 1.5em;
}

hr {
	width: 600px;
}
ul {
	margin: 5px 20px 0 170px;
}