*{
	margin: 0;
	padding: 0;
	/*background-color: #fff;*/
}
body {
	margin: 0;
	padding: 0;
	background: f9f9f9;
}
.wrapper {
	width:1060px;
	height: 950px;
	margin: 0 auto;
	box-shadow: 0 0 10px gray;
	font-family: Tahoma, arial, sans-serif;
}
.logo {
	margin: 50px 0 35px 45px;
}
.current_ul {
	margin: 0 50px;
	background: url(img/panel.png) no-repeat; 
	height: 40px;
}
.current_li {
	display: inline-block;
	list-style: none;
}
.current_li a {
	padding: 10px 30px 10px 40px;
	display: block;
	text-decoration: none;
	font-family: Tahoma, arial, sans-serif;
    text-align: center;
    font-size: 15px;
    color: white;
}
.current_li a:hover{
	border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: #2d2c2c;
	
}

              /*HEADER END*/
.aside_menu {
    float: left;
    margin: 40px 0 0 50px;
    width: 240px;
    height: 280px;
}
.aside_menu ul {
    border: 1px solid #c8c8c8;
}
.aside_li {
    list-style: none;
    border-bottom: 1px solid #c8c8c8;
}
              
.aside-li:last-child {
	border-bottom: none;

 }
 .aside_li a {
    display: block;
    text-decoration: none;
    padding: 10px 0 10px 25px;
    font-family: Tahoma, arial, sans-serif;
    font-size: 13px;
    color: gray;
}
.aside_li a:hover{
	padding-left: 35px;
	background: #f9f9f9;
}
.picture{
	width: 600px;
    height: 400px;
	float: left;
	margin: 40px 50px 0 50px;
}	
.picture img{
	margin: 0 auto;
}
.text{
	width: 620px;
    height: 200px;
    float: right;
    margin: 30px 80px 0 50px;
   
} 
.text p{
	font-family: Tahoma, arial, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #16151a;
}
.footer_ul{
 	float: right;
    margin: 20px 50px;
    width: 965px;
    height: 40px;
    background: #c8c8c8;
  }  
  .footer_li {
    display: inline-block;
    list-style: none;
 }
 .footer_li a {

 	padding-top: 10px;
 	padding-left: 30px;
 	display: block;
 	font-family: Tahoma, arial, sans-serif;
 	font-size: 14px;
 	color: #16151a;
 	text-decoration: none;
 }
 .footer_li a:nth-child(2).active {
    text-decoration: underline;
}
.footer_ul li:last-child {
    padding-left: 400px;
   } 
.footer_li a:hover {
    text-decoration: underline;
}
.footer_ul li:last-child a {
    text-decoration: none;
    pointer-events: none;
}
