* {
    margin: 0;
    padding:0;
}
/*body{
    background: url('../img/pattern.png');
    background: url('../img/coffee_beans.png') repeat-y ;
}*/

.frame-tmpl__wrapper{
    width: 55%;
    margin: 4% auto;
    border: 2px solid #000;
    border-radius: 3px;
    padding: 2%;
    font-family: Arial, sans-serif;
}
.frame-tmpl__header-h1{
    text-align: center;
    color: #0111E5;
    font-size: 34px;
}

.frame-tmpl__header-item-values{
  width: 50%;
  text-align: center;
  display: block;
  outline: none;
  width: 98%;
  background: #fff;
  border:none;
  border:  solid #0111E5;
  border-radius: 10px;
  padding: 0.7%;
  font-size: 26px;
  color: #000;
  /*font-family: inherit;*/
  cursor: pointer;

}

.frame-tmpl__item-list{
    margin: 2% 0;
    list-style: none;
}

.list-tmpl__item-wrap {
  width: 100%;
  font-family: Verdana, sans-serif;
  position: relative;
}



.list-tmpl__item-btn-delete {
    width: 5%;
    height: 63%;
    position: absolute;
    top: 13%;
    right: 2px;
    border: none;
    border: 2px solid #000;
    background: #9EF6D4;
    border-radius: 50%;
    font-size: 20px;
    color: #FF791A;
    cursor: pointer;
    float: right;
}

.list-tmpl__item-btn-delete,
.list-tmpl__item-btn-delete:active,
.list-tmpl__item-btn-delete:focus {
    outline: none;
}

.list-tmpl__item-btn-delete:active{
   border: 2px solid #FF791A;
}


.list-tmpl__item-edit{
    display: none;
}

.frame-tmpl__item-list .list-tmpl__item.editing .list-tmpl__item-edit{
  display: block;
  outline: none;
  width: 92%;
  background: #fff;
  border:none;
  border-bottom: 2px solid #FF791A;
  padding: 0.7%;
  font-size: 30px;
  color: #38271D;
  font-family: inherit;
  cursor: pointer;
}


.list-tmpl__item-wrap .list-tmpl__item-label {
  cursor: pointer;
  display: block;
  width: 92%;
  padding: 0.7%;
  border-bottom: 2px solid #0111E5;
  left: 15px;
  top: 18px;
  color: #FF6600;
  font-size: 28px;
  -webkit-transition: .5s;
  transition: .5s;
}
